{% set <FieldHandle> = entry.<FieldHandle> %}

{% if <FieldHandle> is not empty %}

  <h3>{{ "<FieldName>"|t }}</h3>

  <time datetime="{{ <FieldHandle>|date('c') }}">
    {{ <FieldHandle>|date("d M Y") }}
  </time>

{% endif %}
