{% set <FieldHandle> = entry.<FieldHandle> %}

{% if <FieldHandle> is not empty %}

  <h3>{{ "<FieldName>"|t }}</h3>

  <ul>
    {% for row in <FieldHandle> %}
      {# <li>{{ row.whiskey }} - {{ row.description }} - {{ row.proof }}</li> #}
    {% endfor %}
  </ul>

{% endif %}
