{% set <FieldHandle> = blocks ?? entry.<FieldHandle>.all() ?? false %}

{% if <FieldHandle> is not empty %}

  <h3>{{ "<FieldName>"|t }}</h3>

  {% for block in <FieldHandle> %}

    {% set blocktype = block.type.handle %}

    {% switch blocktype %}
      <FieldContent>
      {% default %}

        {% include "_components/"~block.type ignore missing with { (blocktype) : block[blocktype] ?? block } only %}

    {% endswitch %}

  {% endfor %}

{% endif %}
